.NavigationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.NavigationButtons button {
    border-radius: 20%;
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #706e6e;
}